<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="#">Crypto Signals</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#">Ana Sayfa</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Hakkında</a></li>
        <li class="nav-item"><a class="nav-link" href="#">İletişim</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- HERO BÖLÜMÜ -->
<section class="hero-section d-flex align-items-center justify-content-center text-white">
  <img src="assets/hero_img.png" alt="" class="hero-bg">
  <div class="overlay"></div>
  <div class="container text-center hero-content">
    <h1 class="display-4 fw-bold">Yatırımlarını Güçlendiren Kripto Asistanın</h1>
    <p class="lead">Kripto dünyasında hızlı değişimlere ayak uydurmak zordur. CryptoBot, piyasaları 7/24 takip ederek sana en güncel sinyalleri ve analizleri sunar. Sen sadece stratejine odaklan, verileri toplamak ve anlamlandırmak bizim işimiz."</p>
  </div>
</section>


<!-- İçerik -->
<router-outlet></router-outlet>

<!-- FOOTER -->
<footer class="footer-custom text-center py-3">
  © 2025 Crypto Signals - All rights reserved.
</footer>
